h1 {
    text-align: center;
    font-style: italic;
}

h2 {
    text-align: center;
    font-size: 19px;
}

h3 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

figure {
    text-align: center;
}

table th,
td {
    border: 1px solid black
}

table {
    width: 100%;
    border: 1px solid black;
    text-align: center;
}

th {
    font-style: italic;
    background-color: aqua;
}

td {
    text-align: left;
    padding: 8px;
}

header,
footer {
    text-align: center;
    color: blueviolet;
    font-weight: bold;
}

html {
    background-color: beige;
}

th {
    background-color: darkturquoise;
    column-span: 3;
    text-align: center;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}