        html {
            background-image: linear-gradient(45deg, blue, white);
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            text-align: center;
        }
        
        button:hover {
            text-align: center !important;
            color: blueviolet;
        }
        
        hr {
            line-height: 1.4px;
            color: beige;
        }
        
        button {
            border-radius: 45%
        }
        
        a:hover {
            color: aquamarine;
        }
        
        h1 {
            text-align: center;
            font-family: Monsterra;
            color: rgb(118, 68, 236);
        }