body
{
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	color: teal ;
	background-color: silver;
	margin-left: 70px;
	margin-right: 70px;
}

header, footer
{
    color: rgb(88, 199, 44) ;
	text-align: center;
}

h1, h2, h3
{
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	text-align: center;
	line-height: 3px;
}

a
{
	text-decoration: none;
	color: rgb(38, 19, 145);
	font-weight: italic;
}

a:hover
{
	text-decoration: underline;
	color: rgb(45, 196, 196);
}

figure
{
	text-align: center;
}

figcaption
{
	font-style: italic;
}

nav
{
	text-align: center;
}