body,
p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: teal;
    background-color: white;
    margin-left: 70px;
    margin-right: 70px;
    text-align: center;
}

header,
footer {
    color: rgb(88, 199, 44);
    text-align: center;
}

h1,
h2,
h3 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}

a {
    text-decoration: none;
    color: rgb(38, 19, 145);
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
    color: rgb(45, 196, 196);
}

figure {
    text-align: center;
}

figcaption {
    font-style: italic;
}

nav li {
    display: inline;
    float: left;
}

nav ul {
    padding: 0;
    list-style-type: none;
}

nav a:link,
nav a:visited {
    display: block;
    text-align: center;
    padding: 10px 0;
    width: 190px;
    background-color: indianred;
    color: white;
}

nav a:hover {
    background-color: grey;
    color: white;
}

.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}


/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */

.active,
.accordion:hover {
    background-color: #ccc;
}


/* Style the accordion panel. Note: hidden by default */

.panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
}